/* @import "tailwindcss";
@plugin "daisyui"; */


*{
    box-sizing: border-box;
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #FDF6E3;

}

header {
    background: linear-gradient(135deg, #A020F0, #4B0082);
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: 'Cinzel Decorative', serif;
}

main{
    background: linear-gradient(135deg, #add8e6, #d8b2ff, #ffb6c1);
    position: relative;
    margin: 0px 0px;
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    
}

.nav-links li a, li {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    transition: color 0.3s ease-in-out;
}

.nav-links li a:hover {
    color: #FFD700; 
}

.about{
    display:flex;
    justify-content: center;
    margin: 0px 0px;
}

.app-summary {
    padding: 40px;
    background: rgba(218, 223, 247, 0.95); 
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    max-width: 60%;
    margin: 130px 0px;  
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.35rem;
    color: #4B0082;
    max-width: 85%;
    margin: auto;
    text-align: center; 
}

.app-summary p span {
    font-size: 1.7rem;
    font-weight: bold;
    color: #A020F0; 
    transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.app-summary p span:hover {
    color: #FFD700; 
    transform: scale(1.05);
}

h3 {
    font-family: "Cormorant Garamond", serif;
    color: #320a44;
    font-weight: 600;
    font-size: 4rem;
    margin: 70px 0px;
    text-align: center;
    letter-spacing: 5px;
}

.intro{
    display: flex;
}

h1{
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 1.5;  
  color: #320a44;
  margin: 0px 0px;
  padding: 90px 35px;
  width: 55%;
}

.colors{
    width: 45%;
} 

.categories {
    text-align: center;
    padding: 40px;
    color: white;
    font-family: 'Cinzel Decorative', serif;
    background: url('/img/landscape.webp') no-repeat center center fixed; 
    /* background: url('angel-background.png') no-repeat center center fixed;  */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: -60px 0px;
}

.category-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); 
    gap: 20px; 
    justify-content: center;
    margin-bottom: 60px; 
    padding: 20px;
}

.category-item {
    text-align: center;
    padding: 18px;
    background: rgba(218, 223, 247, 0.95); 
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

.category-item p {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #4B0082;
    margin-bottom: 10px;
}

.category-btn {
    background: #5D008F;
    color: white;
    font-size: 1rem; 
    font-weight: bold;
    padding: 16px 24px;
    border: 0px solid transparent;
    border-radius: 12px; 
    cursor: pointer;
    transition: background 0.3s ease-in-out, transform 0.2s, box-shadow 0.3s;
}

.category-btn:hover {
    background: #a547e4;
    transform: scale(1.08);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

a {
    text-decoration: none;
}

footer {
    background: linear-gradient(135deg, #A020F0, #4B0082);
    color: white;
    padding: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

footer p{
    color:#FDF6E3;
    font-size: 1rem;
}

.footer-links a {
    color: #FFD700;
    text-decoration: none;
    margin: 0px 10px;
    font-size: 1rem;
    transition: color 0.3s ease-in-out;
}

.footer-links a:hover {
    color: #FFF;
}

.quote-container {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 60px;
}

.quote {
    font-family: "Cormorant Garamond", serif; 
    font-size: 2.5rem;
    font-weight: bold;
    color: #340e46;
    max-width: 70%;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    margin-left: 120px;
}

.quote-author {
    font-size: 1.4rem;
    font-family: "Poppins", sans-serif; 
    color: #A020F0;
    margin-top: 15px;
    font-weight: bold;
    opacity: 0.8;
}








